{
  "extends": "eslint:recommended",
  "plugins": [
    "angular"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "jasmine": true
  },
  "ecmaFeatures": {
    "modules": true
  },
  "globals": {
    "angular": true,
    "module": true,
    "inject": true,
    "Firebase": true,
    "_": true
  },
  "rules": {
    "no-console": 0,
    "angular/log": 0
    }
}
