<h1>Hello</h1>
<p> Add tems here</p>
<div>
  <ul>
    <li ng-repeat="item in action.items">{{item}}
      <button ng-click="action.remove($index)">Remove</button>
    </li>
  </ul>
    <div>
        <form ng-submit="action.add()">
        <input type="text" ng-model="action.input" >
        <select ng-options="person for person in action.assignee" ng-model="person" ng-change="action.change(person)">
        </select>
        <button type="submit" >Add</button>
        </form>
    </div>
</div>

