<nav class="navbar navbar-default navbarTop" id="navbar--background">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div id="navbar" class="navbar-collapse collapse">

            <ul class="nav navbar-nav navbar-right">
              <li><a href="./"><i class="fa fa-home fa-2x"></i></a></li>
              <li><a href=""><img ng-src="{{room.userPic}}" class="img-circle" height="30em" width="35em"/></a></li>
              <li><a ng-click="room.firebaseAuthlogout()"><i class="fa fa-power-off fa-2x"></i></a></li>
            </ul>
          </div>
        </div>
      </nav>

 <div ng-show="getview">
  <h4>404 ERROR-ROOM NOT AVAILABLE</h4>
</div>


  <div class="container-fluid" ng-hide="getview">
  </div>
<button class="btn btn-xs ng-isolate-scope" data-toggle="tooltip" title="Export as CSV" filename="roomdata.csv" field-separator="," csv-header="room.header" ng-click="room.exportSheetCreator()" ng-csv="room.finalArray" lazy-load="true"><span class = "glyphicon glyphicon-floppy-disk"> Export</span></button>
  <div class="row">

    <div class="col-md-8">
      <!-- <a ui-sref="room.board">Show Board</a> -->
      <div ui-view="board"></div>
    </div>

    <div class="col-md-4">
      <div ui-view="action">Show Action</div>
    </div>
  </div>


  <div class="row">
    <div ui-view="user"></div>
  </div>

</div>
