body {
  background-color: #F4F1E8;
  background-image: url("http://www.ashtangabutterfly.com/images/wood-grain-background-2.jpg");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}


.navbarItems {
  color: #6D6A68;
}

.navbar-header {
  color: #6D6A68;
}

.navbar {
  color: #6D6A68;
  background: rgba(255, 255, 255, 0.3);
  border: 5px solid black;
}
.icon--white {
  color: white;
}
