body {
  background-color: #F4F1E8;
  background-image: url("http://www.transparenttextures.com/patterns/concrete-wall.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.paneHeaders {
  color: #E8CA9A;
}

.navbarItems {
  color: #E8CA9A;
}

.navbar-header {
  color: #CEB18B;
}

.navbar--transparent{
  background: transparent;
}
