
.icon--white {
  color: white;
}
#link--underline, #link--underline:hover {
  text-decoration: none;
}
.roomname--white {
  color: white;
  font-weight: 500;
  font-size: x-large;
  margin-top: 10px;
}
.navbar--margin {
  margin-bottom: 0%;
}
