.navbarItems {
  color: #6D6A68;
}

.navbar-header {
  color: #6D6A68;
}

.navbar {
  color: #6D6A68;
  background: rgba(255, 255, 255, 0.3);
  border: 5px solid black;
}
.icon--white {
  color: white;
}

.navbarTop {
  margin: 0;
}
