@import url(https://fonts.googleapis.com/css?family=Droid+Sans);

img.screenshot--shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
img.screenshot--margin {
  margin: 7% 0% 3% 0%;
  border-radius: 1.1em 1.1em 0em 0em;
}
.vyapi-logo {
  width: 400px;
}
.footer--transparent {
  background-color: transparent;
  border-color: transparent;
}
.block--login {
  margin: 0%;
  width: 100%;
  padding-top:8%;
  color: white;
}
.brown-text {
  color: #452A22;
  font-family: 'Droid Sans', sans-serif;
  font-weight: lighter;
}
.container-background {
    width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
  content: "";
  background-image: url(../assets/images/BG.jpg);
  background-repeat: repeat;
  background-size: 500px 500px;
}
