@import url(https://fonts.googleapis.com/css?family=Atomic+Age);

img.screenshot--shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
img.screenshot--margin {
  margin-top: 3%;
}
.footer--transparent {
  background-color: transparent;
  border-color: transparent;
}
body,h1 {
  font-family: 'Atomic Age', cursive;
}
body {
  background-image: url(/app/login/background.jpg);
}
