<div class="container-fluid">



  <div class="row">
    <div class="col-md-6">
      <h2>What we did right!</h2>

      <form ng-submit="board.submit('plus')">
        <div class="form-group">
          <div class="bg-success center-block" id="anonymousWarn" class="has-success">Ssshh.. You're anonymous now</div>
          <div class="input-group">
            <span type="button" id="anonymousToggle" class="input-group-addon btn btn-success anonymousToggle">
              <span class="glyphicon glyphicon-eye-close pull-right"></span>
            </span>
            <input ng-model="board.userMessagePlus" type="text" class="form-control" aria-definedby="anonymousToggle" placeholder="Type a message...">
          </div>
        </div>
      </form>

      <ul id="chat-messages-plus" class="list-unstyled">
        <li ng-repeat="msg in board.messages | filter:{lane:'plus'}">
          <article class="panel panel-default">
            <div class="panel-heading">
              {{ msg.from }}
              <button class="btn btn-default btn-xs pull-right btn-danger glyphicon glyphicon-trash" ng-click="board.delete(msg)"></button>
            </div>
            <div class="panel-body" style="max-height: 10; min-height: 10; overflow-y: scroll;">
              <p class="userText">{{ msg.text }}</p>
              <span type="button" class="btn btn-default btn-xs glyphicon glyphicon-thumbs-up pull-right" ng-click=""></span>
            </div>
          </article>
        </li>
      </ul>


    </div>

    <div class="col-md-6">
      <h2>What could improve!</h2>

      <form ng-submit="board.submit('minus')">
        <div class="form-group">
          <div class="input-group">
            <span type="button" id="anonymousToggle" class="input-group-addon btn btn-success anonymousToggle">
              <span class="glyphicon glyphicon-eye-close success pull-right"></span>
            </span>
            <input ng-model="board.userMessageMinus" type="text" class="form-control" placeholder="Type a message..."/>
          </div>
        </div>
      </form>

      <ul id="chat-messages-minus" class="list-unstyled">
        <li ng-repeat="msg in board.messages | filter:{lane:'minus'}">
          <article class="panel panel-default">
            <div class="panel-heading">
              {{ msg.from }}
              <button class="btn btn-default btn-xs pull-right btn-danger glyphicon glyphicon-trash" ng-click="board.delete(msg)"></button>
            </div>
            <div class="panel-body" style="max-height: 10; min-height: 10; overflow-y: scroll;">
              <p class="userText">{{ msg.text }}</p>
              <span type="button" class="btn btn-default btn-xs glyphicon glyphicon-thumbs-up pull-right" ng-click=""></span>
            </div>
          </article>

        </li>
      </ul>


    </div>
  </div>

</div>
