.userText {
  display: inline-block;
}
body {
  background-color: #f4f1e8;
  background-image: url("http://www.transparenttextures.com/patterns/diamond-eyes.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.group-header {
  color: #6D6A68;
}

#anonymousWarn {
  display: none;
  margin:10px;
  padding: 10px;
}

.sticky {
  float: left;
  margin-left: 0.8em;
  margin-bottom: 0.8em;
  border-radius: 7px;
  border: 0.2em solid #E34B2A;
}

.sticky > .sticky__head {
  background-color: #6D6A68;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.sticky__head {
  max-height: 30px;
  min-height: 30px;
  max-width: 200px;
  min-width: 200px;
  vertical-align: middle;
  padding-bottom: 1px;
  padding-top: 2px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  color: white;
}

.sticky__body {
  max-height: 150px;
  min-height: 150px;
  max-width: 200px;
  min-width: 200px;
  padding: 0.5em;
  overflow-y: auto;
  overflow-x: hidden;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  word-break: break-all;
  color: #5D5A58;
  hyphens: auto;
}

.anonymous-toggle {
  background-color: #6D6A68;
  color: white;
}

.glyphicon-remove-circle {
  border: none;
  background-color: transparent;
  color: #E34B2A;
}
