.user-footer {
  position: relative;
  bottom: 0;
  overflow: hidden;
  margin-top: 4em;
}

.user-badge {
  position: absolute;
  top: 0;
  right: 0;
  background: green;
  border-radius: 20px;
  width: 1.5em;
  height: 1.5em;
  color: white;
  font-weight: bold;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  border: 1px solid rgba(255, 255, 255,0.8);
  line-height: 1.5em;
}

.navbar-bottom {
  text-align: center;
  display: inline-block;
  background-color: rgba(239,236,228,0);
}

.user-list {
  width: 2.5em;
  height: 2.5em;
  background: white;
  padding: 3px;
  border-radius: 100%;
  color: black;
  text-align:center;
  position: fixed;
  bottom: 1.25em;
  right: .5em;
}

li.ng-enter.ng-enter-active,
li.ng-leave {
  opacity: 1;
  -webkit-transition: opacity 300ms linear;
  -moz-transition: opacity 300ms linear;
  transition: opacity 300ms linear;
}

li.ng-leave.ng-leave-active,
li.ng-enter {
  opacity: 0;
  -webkit-transition: opacity 300ms linear;
  -moz-transition: opacity 300ms linear;
  transition: opacity 300ms linear;
}

.user-image {
 height: 4em;
 padding-right: .25em;
 padding-left: .25em;
 padding-top: .25em;
 padding-bottom: .25em;
 border: .5em;
}

