


<div class="container-fluid">
 <ul class="list-unstyled list-inline">
  <li>
  <div class="sticky sticky-note sticky__body">
    <div class="create">
   <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal"><i class="glyphicon glyphicon-plus"></i></button>
 </div>
 </div>
   <li ng-repeat="room in dashboard.rooms">
     <div class="sticky">
      <div class="sticky-note">
       <div class="sticky__body">
        <i class="fa fa-times fa-lg pull-right delete-btn" ng-click="dashboard.removeRoom(room.key)"></i>
        <p class="sticky-textarea">Members:{{room.mem}}</p>
        <p class="sticky-textarea">Date:{{room.date}}</p>
      <div class="roomName">
        <button class="btn btn-default btn-lg" ><a href="{{room.url}}">{{room.roomName}}</a></button>
      </div>
    </div>
    </div>
  </div>
</li>
</ul>


<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
   <div class="modal-content">
     <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal">&times;</button>
       <h4 class="modal-title">Room Name</h4>
     </div>
     <div class="modal-body">
      <form role ="form" ng-submit="dashboard.createRoom()" name="form">
       <div class="form-group">
         <label>Room Name</label>
         <input type="text" class="form-control" id="roomName" name="roomName" placeholder="Room Name" ng-model="dashboard.roomName" required>
         <br>
         <input  class="btn btn-default btn-lg"  type="submit" value="add" name="add">
       </div>
     </form>
   </div>
 </div>
</div>
</div>

