
<nav class="navbar navbar-default navbarTop" id="navbar--background">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="./"><i class="fa fa-home fa-2x icon--white"></i></a></li>
        <li><a href=""><img ng-src="{{dashboard.userPic}}" class="img-circle" height="30em" width="35em"/></a></li>
        <li><a ng-click="dashboard.firebaseAuthlogout()"><i class="fa fa-power-off fa-2x icon--white"></i></a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
	<ul class="list-unstyled list-inline">
		<li class="card_list">
		<div class="card card-note card__body" id="div_hover">
			<div class="create">
				<a data-toggle="modal" data-target="#myModal" href="#"><i class="glyphicon glyphicon-plus fa-5x plus_icon"></i></a>
			</div>
		</div>
  </li>
		<li class="card_list" ng-repeat="room in dashboard.rooms">
		<div class="card">
			<div class="card-note">
       		<div class="card__body">
          <div class="card_top">
					<i class="glyphicon glyphicon-remove pull-right top_icon" data-toggle="modal" data-target="#delAlert"></i>
          <div id="delAlert" class="modal fade" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Delete Room</h4>
                </div>
                <div class="modal-body">
                  <p>Are you sure?</p>
                </div>
                <div class="modal-footer">
                  <input  class="btn btn-default"  type="submit" value="Ok" name="del" data-dismiss="modal" ng-click="dashboard.removeRoom(room.key)">
                  <input class="btn btn-default" type="button" value="Cancel" class="close" data-dismiss="modal">
                </div>
              </div>
            </div>
          </div>
          <i class="glyphicon glyphicon-pencil pull-right top_icon" ng-click="dashboard.editRoom(room.key)"></i>
          </div>

              <div id="card_text">
  				<div class="line-padding"><div class="icon-inline" title="Members"><i class="fa fa-users white icon-background icon-blue"></i></div>{{room.mem}}</div>
  				<div class="line-padding"><div class="icon-inline" title="Date Created"><i class="glyphicon glyphicon-calendar white icon-background icon-orange"></i></div>{{room.date}}</div>
  				<div class="line-padding"><div class="icon-inline" title={{room.plusLabel}}><i class="glyphicon glyphicon-plus white icon-background icon-green"></i></div>{{room.pos}}</div>
  				<div class="line-padding"><div class="icon-inline" title={{room.minusLabel}}><i class="glyphicon glyphicon-minus white icon-background icon-red"></i></div>{{room.neg}}</div>
              </div>
                          <a class="card_link" href="{{room.url}}">
							<div class="card__roomname">
								<h5>{{room.roomName}}</h5>
							</div>
						</a>
					</div>
				</div>
			</div>
      </li>
  </ul>
</div>


<div class="modal fade" id="myModal" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Room Name</h4>
			</div>
      <form role ="form" ng-submit="dashboard.createRoom()" name="form">
       <div class="modal-body">
         <div class="form-group">
          <label>Room Name</label>
          <input type="text" class="form-control" id="roomName" name="roomName" placeholder="Room Name" ng-model="dashboard.roomName" required>
          <br>
          <label>Label for section one</label>
          <input type="text" class="form-control" id="plusLabel" name="plusLabel" placeholder="What we did right!"  ng-model="dashboard.plusName" ng-init="dashboard.plusName = 'What we did right!' ">
          <br>
          <label>Label for section two</label>
          <input type="text" class="form-control" id="plusLabel" name="plusLabel" placeholder="What should improve!" ng-model="dashboard.minusName" ng-init="dashboard.minusName = 'What should improve!' ">
          <br>
          <label>Label for section three</label>
          <input type="text" class="form-control" id="plusLabel" name="plusLabel" placeholder="Action Items!" ng-model="dashboard.actionName" ng-init="dashboard.actionName ='Action Items!'">
        </div>
      </div>
      <div class="modal-footer">
        <input  class="btn btn-default"  type="submit" value="Add" name="add">
      </div>
    </form>
  </div>
</div>
</div>

<div class="modal fade" id="editModal" role="dialog">
	<div class="modal-dialog">

		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Room Name</h4>
			</div>
			<div class="modal-body">
				<form role ="form" ng-submit="dashboard.saveValues()" name="form">
					<div class="form-group">
						<label>Room Name</label>
						<input type="text" class="form-control" id="roomName" name="roomName" placeholder="Room name" ng-model="dashboard.rName" required>
						<br>
						<label>Label for section one</label>
						<input type="text" class="form-control" id="plusLabel" name="plusLabel" placeholder="What we did right!" ng-model="dashboard.pName">
						<br>
						<label>Label for section two</label>
						<input type="text" class="form-control" id="minusLabel" name="minusLabel" placeholder="What should improve!" ng-model="dashboard.mName">
						<br>
						<label>Label for section three</label>
						<input type="text" class="form-control" id="actionLabel" name="actionLabel" placeholder="Action Items!" ng-model="dashboard.aName">
						<br>
					</div>
          <div class="modal-footer">
            <input  class="btn btn-default"  type="submit" value="Save" name="save">
            <input class="btn btn-default" type="button" value="Cancel" class="close" data-dismiss="modal">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
