.card__body:hover .top_icon {
   visibility: visible;
}
.top_icon{
  padding:0.2em;
  color: #808080;
  visibility: hidden;
}


#div_hover:hover .plus_icon {
   color:rgba(255, 255, 255, 0.99);
}
.plus_icon{
  color:rgba(255, 255, 255, 0.5);
}
#div_hover:hover {
transform: scale(1.01);
}
#div_hover{
text-align: center;
border-top: 1px solid rgba(0, 0, 0, 0.6);
border-right: 1px solid rgba(255, 255, 255, 0.1);
border-bottom: 1px solid rgba(255, 255, 255, 0.1);
border-left: 1px solid rgba(0, 0, 0, 0.6);
background-color: rgba(222, 184, 135, 0.5);
-webkit-box-shadow: inset 8px 8px 39px 3px rgba(0,0,0,0.29);
-moz-box-shadow: inset 8px 8px 39px 3px rgba(0,0,0,0.29);
box-shadow: inset 8px 8px 39px 3px rgba(0,0,0,0.29);
}

.btn-circle {
  width: 25px;
  height: 25px;
  text-align: center;
  font-size: 12px;
  padding: 0.4em;
  line-height: 1.428571429;
  border-radius: 15px;
  margin:0em 1em 0em 1em;
}
.white, .white a {
  color: #FFFFFF;
}
.card_top
{
  height: 10%;
}
#card_text{
  height: 70%;
  padding: 0.5em 0em 0em 0em;
}



.card_link
{
  color:rgba(0,0,0,0.6);
  display: block;
}
.card_link:hover
{
    text-decoration: none;
    color: rgba(0,0,0,1);
}
.card_list
{
  float: left;
}





.card {
  float: left;
  margin: 0.5em 0.8em 0.8em 0.5em;
  border-radius: 4px;
  background-color: rgba(253,249,243,1);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.5);
  font-size: 0.9em;
  &__body {
    max-height: 190px;
    min-height: 190px;
    width: 100%;
    height: 100%;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    word-break: break-all;
    color: black;
    hyphens: auto;
  }
  &__roomname {
    width: 100%;
    text-align: center;
    bottom: 0;
    position: absolute;
    background-color: rgba(222, 184, 135, 0.52);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
  }
}

.card-note {
  flex: 0 1 auto;
  align-self: auto;
  max-width: 180px;
  min-width: 170px;
}

.card__head {
  max-height: 30px;
  min-height: 30px;
  vertical-align: middle;
  padding-top: 0.5em;
  padding-left: 0.5em;
  color: white;
}


.card__body::-webkit-scrollbar {
 display: none;
}
.roomName_center
{
vertical-align: middle;
}
.card__roomname p{
  vertical-align: middle;
  display: inline-block;
}

.card-textarea {
  width: 100%;
  border: none;
  background: transparent;
  color: black;

}
#navbar--background {
  background-color: transparent;
  border-color: transparent;
}
.icon--white {
  color: white;
}
.icon-background {
      padding: 5px 10px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
}
.icon-inline {
  display: inline;
    padding: 5%;
}
.line-padding {
  margin: 5%;
}
.icon-orange {
  background-color: #f0ad4e;
}
.icon-blue {
  background-color: #2098d1;
}
.icon-red {
  background-color: #d9534f;
}
.icon-green {
  background-color: #5cb85c;
}
